<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Sentiment   {{ title }}</title>
    {% else  %}
        <title>Sentiment</title>
    {%  endif %}

</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Sentiment</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for( 'chart')}}">Home</a>
        </div>

        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for( 'account')}} ">Account</a>
                 <a class="nav-item nav-link" href="{{ url_for( 'logout')}} ">Logout</a>
            {% else %}
          <a class="nav-item nav-link" href="{{ url_for( 'register')}}" >Register</a>
          <a class="nav-item nav-link" href="{{ url_for( 'login')}} ">Login</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
<div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

        </div>
      </div>

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>

new Chart(document.getElementById("myChart"), {
    type : 'line',
    data:{

        labels: [{% for item in labels %}
             "{{item}}",
            {% endfor %}],

    datasets: [{

            data: {{ vakues }},
            label: 'Positive tweets',
            borderColor: "#3e95cd",
            fill: false
    },{

            data: {{ vakues1 }},
            label: 'Negative tweets',
            borderColor: "#8e5ea2",
            fill: false
    },{

            data: {{ vakues2 }},
            label: 'Neutral tweets',
            borderColor: "#c45850",
            fill: false
    }]

    },
options: {
    title: {
        display: true,
        text: 'tweet sentiment analysis for the past three days'
    },tooltips: {
            callbacks: {
                label: function(tooltipItems, data) {
                    return data.datasets[tooltipItems.datasetIndex].label +': ' + tooltipItems.yLabel + ' %';
                }
            }

        }
}

});


</script>



</div>


<script>
   $('#neg-posts').show()
   $('#pos-posts').hide()
   $('#new-posts').hide()
    $('.pos').click(function () {
     $("#pos-posts").show('slide', {direction: 'right'}, 1000);
     $("#neg-posts").hide('slide', {direction: 'left'}, 1000);
     $("#new-posts").hide('slide', {direction: 'left'}, 1000);
    })

    $('.neg').click(function () {
     $("#neg-posts").show('slide', {direction: 'right'}, 1000);
     $("#pos-posts").hide('slide', {direction: 'left'}, 1000);
     $("#new-posts").hide('slide', {direction: 'left'}, 1000);
    })

    $('.new').click(function () {
     $("#new-posts").show('slide', {direction: 'right'}, 1000);
     $("#neg-posts").hide('slide', {direction: 'left'}, 1000);
     $("#pos-posts").hide('slide', {direction: 'left'}, 1000);
    })

</script>
<script>



$('.video-card').click(function () {
    vidid = $(this).attr('id')
$('.active').not(this).removeClass('active')
    $(this).toggleClass('active')

$('#vidazo').html("<iframe style='margin-left: 20px;margin-top: 10px' width='350' height='180' src=\'https://www.youtube.com/embed/"+vidid+"\'> </iframe>");

    $.ajax({
        url: '/youtube',
        type: 'GET',

        data: {id: vidid},
        success: function (response) {
            console.log(response)
            $('#sents').html(jQuery(response).find('#sents').html());
            $('#analysis').html(jQuery(response).find('#analysis').html());

        }

    });
});
</script>
</body>
</html>